/* h2{
    text-align: center;
    margin-top: -50%;
    margin-bottom: 50%;
    font-size: 300%;
    color: wheat;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
} */
.home {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-image: url("../assets/images/Home.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
h2 {
	font-size: 3rem;
	font-weight: 600;
	font-style: italic;
	color: whitesmoke;
}
.text {
	margin: 5% 10% 5% 10%;
	font-size: 1.7rem;
	font-weight: 500;
	font-style: italic;
	color: whitesmoke;
}
